services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pricing_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      DB_HOST: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: pricing_db
      WB_API_KEY: ${WB_API_KEY}
    depends_on:
      - postgres
    restart: unless-stopped
    command: sh -c "npx knex migrate:latest --knexfile=knexfile.js && npm run start"

volumes:
  pgdata: